///////////////////////////////////////// about
.about {
    background-color: $yellow;
    .about-banner {
        @include content-module();
        .about-banner-button {
            padding-top: 20px;
            padding-bottom: 30px;
            .about-show {
                @include primary-button($yellow);
                outline: none;
                &:focus {
                    background-color: lighten($yellow, 10%);
                }
            }
        }
    }
    .about-banner-padding {
        padding-bottom: 0px;
    }
    .about-content {
        display: none;
        @include content-module();
        padding-top: 0;
        p {
            a {
                display: inline-block;
                text-decoration: underline;
                &:hover {
                    color: lighten($orange, 35%);
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-xs-min) {
    .about {
        .about-banner {
            .about-banner-button {
                .about-show {
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .about {
        .about-banner {
            padding: 60px 40px 60px 80px;
            .about-banner-button {
                padding-bottom: 0;
                .about-show {
                    font-size: 1.2em;
                }
            }
        }
        .about-banner-padding {
            padding-bottom: 60px;
        }
        .about-content {
          padding: 0 40px 60px 80px;
            div {
                &:first-of-type {
                    padding-right: 20px;
                }
                &:last-of-type {
                    padding-left: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-md-min) {

}

@media only screen and (min-width: $screen-lg-min) {
    .about {
        .about-banner {
          padding: 60px 40px 60px 40px;
        }
        .about-content {
          padding: 0 40px 60px 40px;
        }
    }
}