///////////////////////////////////////// about
.about {
    background-color: $yellow;
    .about-banner {
        @include content-module();
        .about-show {
        	@include primary-button($yellow)
        }
    }
    .about-content {
        display: none;
        @include content-module();
    }
}

@media only screen and (min-width: $screen-xs-min) {

}

@media only screen and (min-width: $screen-sm-min) {

}

@media only screen and (min-width: $screen-md-min) {

}

@media only screen and (min-width: $screen-lg-min) {
    .about {
        .about-content {
          padding: 60px 40px 60px 40px;
        }
    }
}