///////////////////////////////////////// contact
.contact {
    background-color: $orange;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 15px solid $orange;
        background-color: $orange;
        background: url('../images/down-arrow-o.svg') center center no-repeat;
        background-size: 100% 100%;
    }
    .contact-triangle {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 20px solid $darkblue;
        border-left: 100px solid transparent;
    }
    .contact-content {
        @include content-module();
        padding-bottom: 40px;
        h2 {
            margin-top: 92px;
            margin-bottom: 30px;
            text-align: center;
        }
        .contact-links {
            padding: 15px 0 30px 0;
            line-height: 3.4em;
            a {
                text-align: left;
                font-size: 0.85em;
                i {
                    margin-right: 20px;
                    margin-left: 20px;
                    font-size: 1.3em;
                }
                &:hover {
                    background-color: lighten($orange, 7%)
                }
            }
        }
        .contact-form {
            form {
                .contact-name, .contact-email, .contact-message {
                    position: relative;
                    margin-bottom: 20px;
                    height: 60px;
                    input {
                        position: absolute;
                        bottom: 0;
                    }
                }
                .name-label, .email-label, .message-label {
                    position: absolute;
                    top: 10px;
                    display: none;
                    font-size: 0.85em;
                    color: darken($orange, 10%);
                    @include transition(all 500ms ease-in);
                }
                .contact-message {
                    margin-bottom: 50px;
                }
                .input-focus-animate {
                    display: inline-block;
                    top: 0;
                    @include transition(all 800ms ease-in);
                }
                @include placeholder(0.85em, $white);
                .contact-submit {
                    @include primary-button($orange);
                    width: auto;
                    &:focus {
                        background-color: lighten($orange, 10%)
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-xs-min) {
    .contact {
        .contact-content {
            .contact-links {
                a {
                    font-size: .95em;
                }
            }
            .contact-form {
                form {
                    .name-label, .email-label, .message-label {
                        font-size: 0.95em;
                    }
                    @include placeholder(0.95em, $white);
                    .contact-submit {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-sm-min) {
    .contact {
        &:after {
            width: 115px;
            height: 115px;
        }
        .contact-content {
            padding: 60px 40px 50px 80px;
            h2 {
                margin-top: 52px;
                margin-bottom: 60px;
                text-align: left;
            }
            .contact-links {
                padding-right: 20px;
                a {
                    font-size: 1.05em;
                }
            }
            .contact-form {
                form {
                    .name-label, .email-label, .message-label {
                        font-size: 1.05em;
                    }
                    @include placeholder(1.05em, $white);
                    .contact-submit {
                        font-size: 1.7em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-md-min) {
    .contact {
        &:after {
            width: 130px;
            height: 130px;
        }
        .contact-content {
            padding-bottom: 60px;
            .contact-links {
                a {
                    font-size: 1.15em;
                }
            }
            .contact-form {
                form {
                    .name-label, .email-label, .message-label {
                        font-size: 1.15em;
                    }
                    .contact-message {
                        margin-bottom: 70px;
                    }
                    @include placeholder(1.15em, $white);
                    .contact-submit {
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-lg-min) {
    .contact {
        .contact-content {
          padding: 60px 40px 60px 40px;
        }
    }
}

