///////////////////////////////////////// header
header {
    // height: 100vh;
    background-color: $blue;
    color: #ffffff;
    .header-content {
        @include content-module();
        .header-logo {
            img {
                width: 100%;
            }
        }
        .header-copy {
            h1 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
}

@media only screen and (min-width: $screen-xs-min) {

}

@media only screen and (min-width: $screen-sm-min) {
    header {
        height: 78vh;
        .header-content {
            padding: 60px 40px 60px 80px;
            .header-copy {
                padding: 0;
                h1 {
                    text-align: left;
                }
                p {
                    text-align: left;
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-md-min) {
    header {
        .header-content {
            .header-copy {
                padding: 70px 0;
                h1 {
                    text-align: left;
                }
                p {
                    text-align: left;
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-lg-min) {
	header {
        .header-content {
          padding: 60px 40px 60px 40px;
        }
	}
}