///////////////////////////////////////// header
header {
    height: 85vh;
    background-color: $blue;
    color: #ffffff;
    .header-content {
        @include content-module();
        .header-copy {
        	padding: 80px 0;
        }
    }
}

@media only screen and (min-width: $screen-xs-min) {

}

@media only screen and (min-width: $screen-sm-min) {

}

@media only screen and (min-width: $screen-md-min) {

}

@media only screen and (min-width: $screen-lg-min) {

}