// Utilities
@import "mixins/hide-text";
@import "mixins/responsive-visibility";
@import "mixins/vendor-prefixes";

// Layout 
@import "mixins/clearfix";
@import "mixins/center-block";
@import "mixins/grid-framework";
@import "mixins/grid";

//////////////////////////////////////////////// Global Mixins

@mixin font-smoothing($smoothing) {
    -webkit-font-smoothing: $smoothing;
    -moz-font-smoothing: $smoothing;
    -o-font-smoothing: $smoothing;
    font-smoothing: $smoothing;
}

@mixin placeholder($font-size, $color) {
    input::-webkit-input-placeholder {
        font-size: $font-size;
        color: $color;
    }
    input:-moz-placeholder { /* Firefox 18- */
        font-size: $font-size;
        color: $color;  
    }
    input::-moz-placeholder {  /* Firefox 19+ */
        font-size: $font-size;
        color: $color;  
    }
    input:-ms-input-placeholder {  
        font-size: $font-size;
        color: $color;  
    }
    textarea::-webkit-input-placeholder {
        font-size: $font-size;
        color: $color;
    }
    textarea:-moz-placeholder { /* Firefox 18- */
        font-size: $font-size;
        color: $color;  
    }
    textarea::-moz-placeholder {  /* Firefox 19+ */
        font-size: $font-size;
        color: $color;  
    }
    textarea:-ms-textarea-placeholder {  
        font-size: $font-size;
        color: $color;  
    }
}

/////////////////////////////////////////////// Content mixins

// Text
@mixin primary-text($size, $weight, $style, $color) {
    // font-family: $primary-typeface;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}

@mixin secondary-text($size, $color) {
    // font-family: $secondary-typeface;
    font-size: $size;
    color: $color;
}

// Button
@mixin primary-button($bg-color) {
    padding: 17px 25px 20px 25px;
    background-color: darken($bg-color, 2%);
    font-family: "Londrina Shadow", sans-serif;
    font-size: 1.3em;
    color: $white;
    text-align: center;
    @include font-smoothing(auto);
    border-width: 1px 2px 3px 1px;
    border-style: solid;
    border-color: $white;
    border-radius: 3px;
    outline: none;
    @include transition(all 170ms ease-in);
    &:hover {
        background-color: lighten($bg-color, 2%);
    }
    &:active {
        margin-top: 2px;
        // background-color: lighten($bg-color, 1%);
        color: darken($bg-color, 15%);
        border-color: darken($bg-color, 12%);
        border-width: 1px;
        @include transition(all 100ms ease-in);
    }
}

// input mixin
@mixin primary-input() {
    position: relative;
    display: block;
    // margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $white;
    color: #fff;
    outline: none;
    @include transition(all 80ms ease-in);
    &:hover {
        
    }
}

@mixin content-module() {
    margin: 0 auto;
    max-width: 1120px;
    padding: 60px 30px 60px 30px;
}

