///////////////////////////////////////// nav
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: lighten($darkblue, 10%);
    z-index: 9999;
    ul {
    	li {
    		// display: inline-block;
    		&:first-of-type a {
    			padding-top: 30px;
    		}
    		&:last-of-type a {
    			padding-bottom: 30px;
    		}
    		a {
    			display: block;
    			padding: 15px 20px 15px 20px;
    			&:hover {
    				background-color: lighten($darkblue, 20%)
    			}
    		}
    	}
    }
}