/////////////////////////////////////// Variables
// primary color
$green: #03996A;
$blue: #515E72;
$lightblue: #889FBF;
$darkblue: #333E4F;
$lightorange: #EE7A23;
$orange: #DA5F27;
$red: #D83D5E;
$lightred: #F06679;
$lighterred: #F48CA3;
$white: #fff;