///////////////////////////////////////// work
.work {
    background-color: #2A363B;
    .work-content {
        @include content-module();
        div {
            height: 50px;
            background-color: #ffffff;
            text-align: center;
        }
    }
}