.detail-top {
	background-color: $darkblue;
	.detail-content {
		@include content-module();
		padding-bottom: 0;
		position: relative;
		h1 {
			margin-bottom: 30px;
			text-align: center;
		}
		.detail-image {
			img {
				width: 100%;
			}
		}
		.detail-stat-links {
			padding-top: 30px;
			padding-bottom: 80px;
			.languages {
				padding: 0 10px 0 10px;
				.image-wrapper {
					display: inline-block;
					padding: 0 10px 0 10px;
					width: 32.3%;
					img {
						width: 100%;
					}
				}
			}
		}
		.detail-buttons {
			bottom: 43px;
			button {
				@include primary-button($darkblue);
				font-size: 1.2em;
				width: 47%;
				&:first-of-type {
					margin-right: 2%;
				}
				&:last-of-type {
					margin-left: 2%;
				}
			}
		}
	}
}

.detail-bottom {
	background-color: $darkblue;
	.detail-content {
		@include content-module();
		padding-top: 0;
		h1 {
			display: none;
			text-align: center;
			width: 100%;
		}
		p {
			margin-top: 0;
			text-align: center;
		}
	}
}

.tester {
	visibility: hidden;
}

@media only screen and (min-width: $screen-xs-min) {
	.detail-top {
		.detail-content {
			.detail-image {
				img {
				}
			}
			.detail-stat-links {
				.languages {
					
					.image-wrapper {
						padding: 0 40px 0 40px;
						img {
						}
					}
				}
			}
			.detail-buttons {
				button {
					font-size: 1.5em;
				}
			}
		}
	}
}

@media only screen and (min-width: $screen-sm-min) {
	.detail-top {
		.detail-content {
			padding-bottom: 60px;
			h1 {
				display: none;
			}
			.detail-image {
				padding-right: 10px;
				img {
				}
			}
			.detail-stat-links {
				padding-left: 10px;
				padding-top: 0;
				padding-bottom: 100px;
				.languages {
					padding: 0 20px 0 20px;
					.image-wrapper {
						padding: 0 20px 0 20px;
						img {
						}
					}
				}
			}
			.detail-buttons {
				position: absolute;
				bottom: 63px;
				button {
				}
			}
		}
	}
	.detail-bottom {
		.detail-content {
			h1 {
				display: inline-block;
			}
			p {
				margin-top: 15px;
			}
		}
	}
}

@media only screen and (min-width: $screen-md-min) {
	.detail-top {
		.detail-content {
			.detail-image {
				img {
				}
			}
			.detail-stat-links {
				.languages {
					padding-bottom: 60px;
					.image-wrapper {
						img {
						}
					}
				}
			}
			.detail-buttons {
				bottom: 70px;
			}
		}
	}
}

@media only screen and (min-width: $screen-lg-min) {

}