.detail-top {
	background-color: $darkblue;
	.detail-content {
		@include content-module();
		position: relative;
		.detail-image {
			img {
				width: 100%;
			}
		}
		.detail-stat-links {
			padding-top: 30px;
			padding-bottom: 100px;
			.languages {
				padding: 0 10px 0 10px;
				.image-wrapper {
					display: inline-block;
					padding: 0 10px 0 10px;
					width: 32.3%;
					img {
						width: 100%;
					}
				}
			}
		}
		.detail-buttons {
			bottom: 63px;
			button {
				@include primary-button($darkblue);
				font-size: 1.2em;
				width: 47%;
				&:first-of-type {
					margin-right: 2%;
				}
				&:last-of-type {
					margin-left: 2%;
				}
			}
		}
	}
}

.detail-bottom {
	background-color: $darkblue;
	.detail-content {
		@include content-module();
		padding-top: 0;
		h1 {
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
}

.tester {
	visibility: hidden;
}

@media only screen and (min-width: $screen-xs-min) {
	.detail-top {
		.detail-content {
			.detail-image {
				img {
				}
			}
			.detail-stat-links {
				.languages {
					
					.image-wrapper {
						img {
						}
					}
				}
			}
			.detail-buttons {
				button {
					font-size: 1.5em;
				}
			}
		}
	}
}

@media only screen and (min-width: $screen-sm-min) {
	.detail-top {
		.detail-content {
			.detail-image {
				padding-right: 20px;
				img {
				}
			}
			.detail-stat-links {
				padding-left: 20px;
				padding-top: 0;
				padding-bottom: 0;
				.languages {
					padding: 0 20px 0 20px;
					.image-wrapper {
						padding: 0 20px 0 20px;
						img {
						}
					}
				}
			}
			.detail-buttons {
				position: absolute;
					button {
					width: 44%;
					&:first-of-type {
						margin-right: 2%;
					}
					&:last-of-type {
						margin-left: 2%;
					}
				}
			}
		}
	}
}

// .tester {
// 	visibility: visible;
// }

@media only screen and (min-width: $screen-md-min) {
	.detail-top {
		.detail-content {
			.detail-image {
				img {
				}
			}
			.detail-stat-links {
				.languages {
					padding-bottom: 60px;
					.image-wrapper {
						img {
						}
					}
				}
			}
			.detail-buttons {
				// button {
				// 	font-size: 1.8em;
				// 	width: 44%;
				// 	&:first-of-type {
				// 		margin-right: 2%;
				// 	}
				// 	&:last-of-type {
				// 		margin-left: 2%;
				// 	}
				// }
			}
		}
	}
}

@media only screen and (min-width: $screen-lg-min) {

}