///////////////////////////////////////// nav
.work-detail-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lighten($darkblue, 10%);
  z-index: 9999;
  ul {
  	li {
      display: inline-block;
      width: 32.5%;
      text-align: center;
      &:hover {
        background-color: lighten($darkblue, 20%);
      }
  		a {
  			display: inline-block;
        padding: 15px 5px 15px 5px;
        .fa {
          font-size: 0.9em;
        }
  			span {
  				margin-left: 3px;
          font-size: 0.8em;
          &:last-of-type {
              display: none;
          }
  			}
  		}
  	}
    .sm-back {
      display: none;
    }
    .xs-back {
      display: inline-block;
    }
  }
}

@media only screen and (min-width: $screen-xs-min) {
  .work-detail-nav {
    ul {
      li {
        a {
          span {
            &:first-of-type {
              display: none;
            }
            &:last-of-type {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .work-detail-nav {
    bottom: 35vh;
    width: auto;
    ul {
      li {
        display: block;
        width: auto;
        text-align: left;
        &:first-of-type a {
          padding-top: 30px;
        }
        &:last-of-type a {
          padding-bottom: 30px;
        }
        &:hover {
          width: 190px;
        }
        a {
          display: block;
          padding: 16px 20px 16px 20px;
          .fa {
            font-size: 1.2em;
          }
          span {
            display: none;
            margin-left: 10px;
            font-size: 1em;
            &:last-of-type {
              display: none;
            }
          }
        }
        &:hover {
          span {
            &:last-of-type {
              display: inline-block;
            }
          }
        }
      }
      .sm-back {
        display: block;
      }
      .xs-back {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: $screen-md-min) {

}

@media only screen and (min-width: $screen-lg-min) {

}